.wrapper {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.75em;
}

div {
    break-inside: avoid-page;
}

.column {
    padding: 10px;
    border-style: dotted;
    border-width: 1px;
    overflow: wrap;
}

.info {
    width: 100%;
    display: flex;
}

.type {
    text-align: left;
    flex: 1;
}
.club {
    text-align: center;
    flex: 1;
}
.ref {
    text-align: right;
    flex: 1;
}
